.imageitem{
    
 flex-direction: row;
    margin-right: 2rem;
    height: 3rem;
    width: 25%;
    padding-top: 0.5rem;
    border-radius: 5px;
background: #141414;
box-shadow: inset 7px 7px 14px #090909,
            inset -7px -7px 14px #1f1f1f;
            margin-right: auto;
            margin-left: auto;
            display: flex;
  }
  
  .logo{  
    margin-right: auto;
            margin-left: auto;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
  }

  @media only screen and (max-width: 500px){
  .imageitem{
    height: 2rem;
  }
    .logo{
    height: 2rem;
    width: 2rem;
  }
    }